// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
$primary-color: hsl(257, 40%, 49%);

body {
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: $primary-color;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 300px;
        padding: 30px;


        .col1 {
            display: flex;
            flex-direction: column;

            .logo {
                align-self: flex-start;
                width: 140px;
                margin-bottom: 60px;
                cursor: pointer;
            }

            .mockup {
                width: 283px;
                ;
                margin-bottom: 60px;
            }

        }


        .col2 {

            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.5em;
            }

            p {
                line-height: 1.5;
                margin-bottom: 25px;
            }

            .register {
                margin-bottom: 60px;
                color: $primary-color;
                font-size: 14px;
                background-color: #fff;
                border: 2px solid #fff;
                border-radius: 20px;
                box-shadow: 0px 10px 10px -10px #333;
                padding: 10px 80px;
                cursor: pointer;
                transition: background-color .2s ease-in, color .2s ease-in;
            }

            .register:hover {
                background-color: $primary-color;
                color: #fff;
            }

            .socials {
                width: 130px;
                display: flex;
                justify-content: space-between;


                &>img {
                    filter: invert(87%) sepia(75%) saturate(2%) hue-rotate(59deg) brightness(106%) contrast(100%);
                    width: 13px;
                    height: auto;
                    border: 1px solid #000;
                    border-radius: 50%;
                    padding: 6px 8px;
                    color: #fff;
                    cursor: pointer;
                    transition: background-color .5s ease-in;
                }

                &>img:hover {
                    background-color: $primary-color;
                }
            }
        }




    }

    .attribution {
        margin-top: 30px;
    }

    @media screen and (min-width: 800px) {

        background-image: url('images/bg-desktop.svg');
        background-size: auto 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container {
            display: flex;
            flex-direction: row;
            width: 95%;

            .col1 {
                display: flex;
                flex-direction: column;
                flex: 6;

                .logo {
                    width: 200px;
                }

                .mockup {
                    width: 97%;
                }
            }

            .col2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 4;
                text-align: left;
                padding: 0px 40px;
                height: 100%;

                h1 {
                    padding-top: 150px;
                    font-size: 2.3em;
                }

                .register {
                    box-shadow: 0px 20px 20px -20px #333;
                }

                .socials {
                    align-self: flex-end;
                    margin-top: 100px;
                }
            }
        }
    }
}